<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fullcalendarcss")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Common/css/style.css" rel="stylesheet" />
    <link href="~/Common/css/StyleMenu.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Common/Icon/css/all.css" rel="stylesheet" />

</head>
<body style="color:black">
    @using WebAppYte.Models
    @{ var u = Session["user"] as WebAppYte.Models.BenhNhan;
        var userBS = Session["userBS"] as WebAppYte.Models.NguoiDung;
    }
    @if (u == null && userBS == null)
    {
        <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #AAAAAA;">
            <div id="header" class="bg_brand cl_white pt_10 pb_10 mb_center">
                <div class="container">
                    <div class="row">
                        <div style="background-color: rgb(16,46,158); top: 10px; " class="div_logo header_left col-lg-2 col-sm-3 col-xs-12">
                            <a><img width="253" height="155" src="~/images/images/logo.jpg" class="image wp-image-12663  attachment-full size-full" alt="Phòng khám Linh Đàm" loading="lazy" style="max-width: 100%; height: auto;"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" color="blue">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(" TRANG CHỦ ", "Index", "Home", null, new { @class = "MauchuMenu" })</li>
                        <li>@Html.ActionLink(" GIỚI THIỆU ", "Gioithieu", "Home", null, new { @class = "MauchuMenu" })</li>
                        <li>@Html.ActionLink(" CHUYÊN GIA - BÁC SĨ", "ChuyenGiaBacSi", "ChuyenGiaBacSi", null, new { @class = "MauchuMenu" })</li>
                        <li>@Html.ActionLink(" TIN TỨC", "Index", "TinTuc", null, new { @class = "MauchuMenu" })</li>
                        <li>@Html.ActionLink(" HỎI ĐÁP ONLINE", "listAll", "Hoidap", null, new { @class = "MauchuMenu" })</li>
                        <li>@Html.ActionLink(" ĐẶT LỊCH KHÁM", "Create", "LichKham", null, new { @class = "MauchuMenu" })</li>
                        <li>@Html.ActionLink("ĐĂNG KÝ", "Dangky", "Home", null, new { @class = "MauchuMenu" }) </li>
                        <li>@Html.ActionLink("ĐĂNG NHẬP", "Dangnhap", "Home", null, new { @class = "MauchuMenu" })</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        <hr />

        <footer id="footer" class="cl_white bg_brand pt_30 mb_center">
            <div class="container">
                <div class="row">
                    <div class="footer-1  col-sm-3 col-xs-12">
                        <img width="253" height="155" src="~/images/images/logo.jpg" class="image wp-image-12663  attachment-full size-full" alt="Phòng khám Linh Đàm" loading="lazy" style="max-width: 100%; height: auto;">
                    </div>
                    <div class="footer-2  col-sm-6  col-xs-12">
                        <h3 class="widget-title sz_16 mt_0 font_hel mb_0"><span>HỆ THỐNG BỆNH VIỆN</span></h3><div class="textwidget custom-html-widget">
                            <ul>
                                <li class="row">
                                    <div class="col-sm-7 col-xs-12">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        Ô 26 - BT1X2, Khu đô thị Bắc Linh Đàm, Hoàng Mai, Hà Nội
                                    </div>
                                    <div class="col-sm-5 col-xs-12">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        <a href="tel:0866 816 115"><span class="cl_white">0866 816 115</span></a><br>
                                        <span class="small">làm việc từ 7h30 - 19h30</span>
                                        <br>
                                        <div>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <a href="mailto:phongkhamlinhdam@gmail.com"><span class="cl_white"> Mail cho chúng tôi</span></a><br>
                                            <br>
                                        </div>
                                        <div>
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                            <a href="https://www.facebook.com/phongkhamlinhdam26bt1x2"><span class="cl_white"> Facebook của chúng tôi</span></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-4 col-sm-3  col-xs-12">
                        <h3 class="widget-title  sz_16 mt_0 font_hel mb_0"><span>ĐƯỜNG DẪN NHANH</span></h3><div class="menu-footer_duong-dan-nhanh-container">
                            <ul id="menu-footer_duong-dan-nhanh" class="menu">
                                <li id="menu-item-14754" class="menu-item menu-item-type-taxonomy menu-item-object-catkhoa menu-item-14754"><a href="@Url.Action("Index", "TinTuc")">Tin tức</a></li>
                                <li id="menu-item-14756" class="menu-item menu-item-type-taxonomy menu-item-object-catchuyengia menu-item-14756"><a href="@Url.Action("ChuyenGiaBacSi", "ChuyenGiaBacSi")">Chuyên gia – bác sĩ</a></li>
                                <li id="menu-item-15591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15591"><a href="@Url.Action("Index", "Hoidap")">Hỏi đáp</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open_chat"></div>
        </footer> }
    else
    {
        if (u != null && userBS == null)
        {
            <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #AAAAAA;">
                <div id="header" class="bg_brand cl_white pt_10 pb_10 mb_center">
                    <div class="container">
                        <div class="row">
                            <div style="background-color: rgb(16,46,158); top: 10px; " class="div_logo header_left col-lg-2 col-sm-3 col-xs-12">
                                <a><img width="253" height="155" src="~/images/images/logo.jpg" class="image wp-image-12663  attachment-full size-full" alt="Phòng khám Linh Đàm" loading="lazy" style="max-width: 100%; height: auto;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" color="blue">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(" TRANG CHỦ ", "Index", "Home", null, new { @class = "MauchuMenu" })</li>
                            <li>@Html.ActionLink(" GIỚI THIỆU ", "Gioithieu", "Home", null, new { @class = "MauchuMenu" })</li>
                            <li>@Html.ActionLink(" CHUYÊN GIA - BÁC SĨ", "ChuyenGiaBacSi", "ChuyenGiaBacSi", null, new { @class = "MauchuMenu" })</li>
                            <li>@Html.ActionLink(" TIN TỨC", "Index", "TinTuc", null, new { @class = "MauchuMenu" })</li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">HỎI ĐÁP<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Hoidap", new { id = u.mabn  })">CÂU HỎI ĐÃ HOÀN THÀNH CỦA BẠN</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Cauhoichoxuly", "Hoidap", new { id = u.mabn  })">CÂU HỎI CHỜ GIẢI ĐÁP</a></li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("ListAll", "Hoidap")">TẤT CẢ CÂU HỎI</a></li>

                                </ul>
                            <li>

                            <li><a href="@Url.Action("Index", "LichKham", new { id = u.mabn  })">ĐẶT LỊCH KHÁM</a></li>
                        </ul>


                        @{ if (u != null)
                            {
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a style="color:blue" href="@Url.Action("Details", "BenhNhan", new { id = u.mabn })"> HỒ SƠ CÁ NHÂN </a>
                                    </li>
                                    <li> @Html.ActionLink("ĐĂNG XUẤT", "DangXuat", "Home", null, new { @class = "MauchuMenu" })</li>
                                </ul> }
                            else
                            {
                                <ul class="nav navbar-nav">
                                    <li> @Html.ActionLink("ĐĂNG KÝ", "Dangky", "Home", null, new { @class = "MauchuMenu" }) </li>
                                    <li>
                                        @Html.ActionLink("ĐĂNG NHẬP", "Dangnhap", "Home", null, new { @class = "MauchuMenu" })
                                    </li>
                                </ul> }
                        }
                    </div>
                </div>
            </div>

            <div class="container body-content">
                @RenderBody()
            </div>
            <hr />
            <footer id="footer" class="cl_white bg_brand pt_30 mb_center">
                <div class="container">
                    <div class="row">
                        <div class="footer-1  col-sm-3 col-xs-12">
                            <img width="253" height="155" src="~/images/images/logo.jpg" class="image wp-image-12663  attachment-full size-full" alt="Phòng khám Linh Đàm" loading="lazy" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="footer-2  col-sm-6  col-xs-12">
                            <h3 class="widget-title sz_16 mt_0 font_hel mb_0"><span>HỆ THỐNG BỆNH VIỆN</span></h3><div class="textwidget custom-html-widget">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-7 col-xs-12">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            Ô 26 - BT1X2, Khu đô thị Bắc Linh Đàm, Hoàng Mai, Hà Nội
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:0866 816 115"><span class="cl_white">0866 816 115</span></a><br>
                                            <span class="small">làm việc từ 7h30 - 19h30</span>
                                            <br>
                                            <div>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <a href="mailto:phongkhamlinhdam@gmail.com"><span class="cl_white"> Mail cho chúng tôi</span></a><br>
                                                <br>
                                            </div>
                                            <div>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <a href="https://www.facebook.com/phongkhamlinhdam26bt1x2"><span class="cl_white"> Facebook của chúng tôi</span></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-4 col-sm-3  col-xs-12">
                            <h3 class="widget-title  sz_16 mt_0 font_hel mb_0"><span>ĐƯỜNG DẪN NHANH</span></h3><div class="menu-footer_duong-dan-nhanh-container">
                                <ul id="menu-footer_duong-dan-nhanh" class="menu">
                                    <li id="menu-item-14754" class="menu-item menu-item-type-taxonomy menu-item-object-catkhoa menu-item-14754"><a href="@Url.Action("Index", "TinTuc")">Tin tức</a></li>
                                    <li id="menu-item-14756" class="menu-item menu-item-type-taxonomy menu-item-object-catchuyengia menu-item-14756"><a href="@Url.Action("ChuyenGiaBacSi", "ChuyenGiaBacSi")">Chuyên gia – bác sĩ</a></li>
                                    <li id="menu-item-15591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15591"><a href="@Url.Action("Index", "Hoidap")">Hỏi đáp</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open_chat"></div>
            </footer> }
        else
        {
            <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #AAAAAA;">
                <div id="header" class="bg_brand cl_white pt_10 pb_10 mb_center">
                    <div class="container">
                        <div class="row">
                            <div style="background-color: rgb(16,46,158); top: 10px; " class="div_logo header_left col-lg-2 col-sm-3 col-xs-12">
                                <a><img width="253" height="155" src="~/images/images/logo.jpg" class="image wp-image-12663  attachment-full size-full" alt="Phòng khám Linh Đàm" loading="lazy" style="max-width: 100%; height: auto;"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container" color="blue">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink(" TRANG CHỦ ", "Index", "Home", null, new { @class = "MauchuMenu" })</li>
                            <li>
                                @Html.ActionLink("TRẢ LỜI CÂU HỎI", "Quanlyhoidap", "Bacsi")
                            </li>
                            <li>
                                <a style="" href="@Url.Action("Index", "CaKham", new { id = userBS.mand })"> QUẢN LÝ CA KHÁM</a>

                            </li>
                            <li>
                                <a style="" href="@Url.Action("Kiemtralichhen", "BacSi", new { id = userBS.mand })"> LỊCH HẸN</a>

                            </li>
                            <li>
                                <a style="" href="@Url.Action("IndexBS", "TinTuc", new { id = userBS.mand })"> TIN TỨC</a>

                            </li>

                        </ul>
                        @{ if (userBS != null)
                            {
                                <ul class="nav navbar-nav">
                                    <li>
                                        <a style="" href="@Url.Action("Details", "BacSi", new { id = userBS.mand })"> HỒ SƠ CÁ NHÂN</a>
                                    </li>
                                    <li> @Html.ActionLink("ĐĂNG XUẤT", "DangXuatBS", "Home", null, new { @class = "MauchuMenu" })</li>
                                </ul> }
                            else
                            {
                                <ul class="nav navbar-nav" style="margin-left:200px">
                                    <li> @Html.ActionLink("ĐĂNG KÝ", "Dangky", "Home", null, new { @class = "MauchuMenu" }) </li>
                                    <li> @Html.ActionLink("ĐĂNG NHẬP", "Dangnhap", "Home", null, new { @class = "MauchuMenu" })</li>
                                </ul>
                            }

                        }
                    </div>
                </div>
            </div>

            <div class="container">
                @RenderBody()
                <hr />
            </div>
            <footer id="footer" class="cl_white bg_brand pt_30 mb_center">
                <div class="container">
                    <div class="row">
                        <div class="footer-1  col-sm-3 col-xs-12">
                            <img width="253" height="155" src="~/images/images/logo.jpg" class="image wp-image-12663  attachment-full size-full" alt="Phòng khám Linh Đàm" loading="lazy" style="max-width: 100%; height: auto;">
                        </div>
                        <div class="footer-2  col-sm-6  col-xs-12">
                            <h3 class="widget-title sz_16 mt_0 font_hel mb_0"><span>HỆ THỐNG BỆNH VIỆN</span></h3><div class="textwidget custom-html-widget">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-7 col-xs-12">
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            Ô 26 - BT1X2, Khu đô thị Bắc Linh Đàm, Hoàng Mai, Hà Nội
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:0866 816 115"><span class="cl_white">0866 816 115</span></a><br>
                                            <span class="small">làm việc từ 7h30 - 19h30</span>
                                            <br>
                                            <div>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <a href="mailto:phongkhamlinhdam@gmail.com"><span class="cl_white"> Mail cho chúng tôi</span></a><br>
                                                <br>
                                            </div>
                                            <div>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                <a href="https://www.facebook.com/phongkhamlinhdam26bt1x2"><span class="cl_white"> Facebook của chúng tôi</span></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-4 col-sm-3  col-xs-12">
                            <h3 class="widget-title  sz_16 mt_0 font_hel mb_0"><span>ĐƯỜNG DẪN NHANH</span></h3><div class="menu-footer_duong-dan-nhanh-container">
                                <ul id="menu-footer_duong-dan-nhanh" class="menu">
                                    <li id="menu-item-14754" class="menu-item menu-item-type-taxonomy menu-item-object-catkhoa menu-item-14754"><a href="@Url.Action("Index", "TinTuc")">Tin tức</a></li>
                                    <li id="menu-item-14756" class="menu-item menu-item-type-taxonomy menu-item-object-catchuyengia menu-item-14756"><a href="@Url.Action("ChuyenGiaBacSi", "ChuyenGiaBacSi")">Chuyên gia – bác sĩ</a></li>
                                    <li id="menu-item-15591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15591"><a href="@Url.Action("Index", "Hoidap")">Hỏi đáp</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="open_chat"></div>
            </footer>}

    }
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fullcalendarjs")

    @RenderSection("scripts", required: false)

</body>
<style>
    .navbar-nav .dropdown {
        position: relative;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between; /* Điều chỉnh khoảng cách */
        align-items: center; /* Canh chỉnh theo chiều dọc */
        list-style: none; /* Bỏ dấu đầu dòng */
        margin: 0; /* Loại bỏ khoảng cách thừa */
        padding: 0; /* Loại bỏ khoảng cách thừa */
    }

        .navbar-nav .dropdown .dropdown-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 160px;
            background-color: #f8f9fa;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        /* Khi hover vào mục "TRANG CHỦ", hiển thị menu con */
        .navbar-nav .dropdown:hover .dropdown-menu {
            display: block;
        }

    /* Style cho các mục trong menu dropdown */
    .dropdown-menu li a {
        padding: 8px 16px;
        color: #333;
        text-decoration: none;
    }

        .dropdown-menu li a:hover {
            background-color: #f1f1f1;
        }
</style>
</html>
